/*********************************** Colors ***********************************/
/*********************************** Fonts ***********************************/
/*********************************** Spacing ***********************************/
/*********************************** Shadow ***********************************/
/*********************************** Transition ***********************************/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth; }

body {
  background-color: white;
  color: black;
  font-size: 1.6rem;
  line-height: 1.7;
  /* height: 400vh; */ }

body.active {
  overflow: hidden; }

li {
  list-style: none; }

span {
  display: block; }

a {
  display: block;
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  height: auto; }

input {
  display: block;
  width: 100%;
  background: none;
  border: none;
  font: inherit; }

button {
  display: block;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer; }

ion-icon {
  display: block;
  pointer-events: none; }

address {
  font-style: normal; }

:focus-visible {
  outline-offset: 4px; }

::placeholder {
  color: #9ca3b0; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #fafafa; }

::-webkit-scrollbar-thumb {
  background-color: #cccccc; }

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3; }

.container {
  padding-inline: 15px; }

.social-wrapper {
  display: flex;
  align-items: center; }

.social-list {
  display: flex;
  gap: 30px; }

.social-link {
  transition: 0.25s ease; }

.social-link:is(:hover, :focus) {
  color: #c58f63; }

.section {
  padding-block: 50px; }

.img-holder {
  aspect-ratio: var(--width)/var(--height);
  background-color: #cccccc;
  overflow: hidden; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.header {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding-block: 15px;
  z-index: 4; }

.header .input-wrapper {
  display: none; }

/* Clase aplicada en js */
.header.active {
  position: fixed;
  transform: translateY(-100%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease forwards; }

@keyframes slideIn {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; }

.logo {
  font-size: 2.8rem;
  font-weight: 700; }

.header-action {
  display: flex;
  gap: 15px; }

.header-action-btn {
  position: relative;
  font-size: 24px;
  transition: 0.25s ease; }

.header-action-btn:is(:hover, :focus) {
  color: #c58f63; }

.header-action-btn .btn-badge {
  width: 18px;
  height: 18px;
  background-color: #c58f63;
  color: white;
  font-size: 0.6rem;
  font-weight: 500;
  position: absolute;
  bottom: -8px;
  right: -10px;
  border-radius: 16px; }

.sidebar {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -425px;
  max-width: 425px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 40px;
  padding-block-end: 100px;
  overflow-y: auto;
  z-index: 5;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28); }

.sidebar.active {
  transform: translateX(-425px);
  visibility: visible;
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.4, 0.96); }

.nav-close-btn {
  font-size: 30px; }

.sidebar .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 40px 75px; }

.sidebar-list-title, .contact-list-title, .social-list-title {
  color: #666666;
  font-weight: 500;
  font-size: 1.4rem; }

.sidebar-list-title {
  margin-block-end: 15px; }

.sidebar-link {
  color: #121212;
  margin-block-start: 6px;
  transition: 0.25s ease;
  font-size: 1.2rem; }

.sidebar-link:is(:hover, :focus) {
  color: #c58f63; }

.navbar {
  margin-block-end: 60px; }

.navbar-item:not(:last-child) {
  margin-block-end: 15px; }

.navbar-link {
  font-weight: 500;
  font-size: 1.4rem;
  transition: 0.25s ease; }

.navbar-link:is(:hover, :focus) {
  color: #666666; }

.address, .contact-link {
  color: #121212;
  font-size: 1.2rem; }

.sidebar .address {
  margin-block-start: 20px; }

.social-wrapper {
  justify-content: space-between;
  margin-block-start: 50px; }

.social-list-title {
  font-size: 1.2rem; }

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease; }

.overlay.active {
  opacity: 1;
  pointer-events: all; }

.hero {
  padding-block-start: calc(80px + 60px); }

.hero-list {
  display: grid;
  gap: 15px; }

.hero-card {
  position: relative; }

.hero-card .img-cover {
  transition: 0.5s ease; }

.hero-card:is(:hover, :focus) .img-cover {
  transform: scale(1.1); }

.hero-card .card-content {
  position: absolute;
  top: 14px;
  left: 10px;
  right: 10px; }

.hero-card :is(.card-title, .card-text) {
  font-weight: 500; }

.hero-card .card-title {
  font-size: 1.8rem;
  transition: 0.25s ease; }

.hero-card .card-text {
  color: #666666;
  font-size: 1.4rem; }

.hero-card .card-title:is(:hover, :focus) {
  color: #c58f63; }

.about {
  text-align: center; }

.about .section-title {
  font-family: "Mr De Haviland", cursive;
  font-size: 5rem;
  font-weight: 500; }

.about .section-text {
  margin-block: 12px 45px;
  font-size: 1.2rem; }

.about-card {
  position: relative; }

.about-card .img-cover {
  transition: 0.5s ease; }

.about-card:is(:hover, :focus) .img-cover {
  transform: scale(1.1); }

.about-card .play-btn {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  color: white;
  font-size: 80px;
  transition: 0.5s ease; }

.about-card:is(:hover, :focus) .play-btn {
  background-color: rgba(0, 0, 0, 0.4); }
