.blog{
    & .title-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px 50px;
        margin-block-end: 50px;
        h2{
            font-size: $fs-3;
        }
    } 
    & .btn-link{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $fs-5;
        color: $smokey-black;
        transition: $transition-1;
        &:is(:hover, :focus){
            color: $tan-crayola;
        }
    }
} 

.blog-card{
    & .card-banner{
        position: relative;
    }
    & .card-btn{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 15px;
        transform: translateX(100%);
        transition: $transition-2;
        & .span{
            font-size: $fs-6;
        }
    }
    & .card-title{
        margin-block: 20px 10px;
        transition: $transition-1;
        font-size: $fs-5;
        &:is(:hover, :focus){
            color: $tan-crayola;
        }
    }
    & .card-meta-list{
        display: flex;
        align-items: center;
    } 
} 

.blog-card:is(:hover, :focus) .card-btn{
    transform: translateX(0);
}

.card-meta-item{
    position: relative;
    color: $granite-gray;
    font-size: $fs-6m;
    &:not(:last-child)::after{
        content: "/";
        margin-inline: 8px;
        color: $spanish-gray;
    }
}

.card-meta-text{
    display: inline-block;
    color: $black;
    transition: $transition-1;
    &:is(:hover, :focus){
        color: $granite-gray;
    }
}
