.container-cart{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.heading{
    @include textStyle($smokey-black, $fs-40, $fw-500);
    border-bottom: 1px solid $granite-gray;
    padding: 20px $px;
    display: flex;
    align-items: center;
    gap: 20px;
    & ion-icon{
        font-size: 50px;
        color: $smokey-black;
    }
}

.item-flex{
    display: flex;
    flex-grow: 1;
}