.cart-button{
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

.cart-ion-icon, .cart-span{
    display: inline-block;
}

.cart-label, .cart-img{
    display: block;
}

.cart-input{
    font: inherit;
    width: 100%;
    border: none;
}

.cart-input:focus{
    outline: 2px solid $tan-crayola;
}

/* remove number input up & down button */

.cart-input::-webkit-inner-spin-button, .cart-input::-webkit-outer-spin-button{
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}