.hero{
    padding-block-start: calc(80px + 60px); // $section-padding 
}

.hero-list{
    display: grid;
    gap: 15px;
}

.hero-card{
    position: relative;
    & .img-cover{
        transition: $transition-2;
    }
    &:is(:hover, :focus) .img-cover{
        transform: scale(1.1);
    }
    & .card-content{
        position: absolute;
        top: 14px;
        left: 10px;
        right: 10px;
    }
    &:is(.card-title, .card-text){
        font-weight: $fw-500;
    }
    & .card-title{
        font-size: $fs-4;
        transition: $transition-1;
        &:is(:hover, :focus){
            color: $tan-crayola;
        }
    }
    & .card-text{
        color: $granite-gray;
        font-size: $fs-5;
    } 
}

