@media (min-width: 1200px){
    
    /* REUSED STYLE */
    .container{
        max-width: 1200px;
    }

    /* HEADER */
    .header{
        & .input-wrapper{
            width: 290px;
        }
        & .input-field{
            font-size: $fs-5;
        }
    } 

    /* PRODUCT */
    .product-list{
        grid-template-columns: repeat(4,1fr);
    }

    /* HERO */
    .hero-card{
        & .card-title{
            font-size: $fs-4;
        }
        & .card-text{
            font-size: $fs-5;
        }
    } 
}


