@media(max-width: 1200px){

    .item-flex{
        flex-direction: column-reverse;
    }

    /* checkout section responsive */

    .checkout{
        width: 100%;
        border-right: none;
    }

    .btn-primary{
        width: 100%;
    }

    /* cart section responsive */

    .cart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        border-bottom: 1px solid $smokey-black;
    }

    .cart .wrapper{
        margin-top: auto;
    }

    .cart .cart-item-box{
        border-right: 1px solid $smokey-black;
        margin-bottom: 0;
    }

    .discount-token{
        border-top: none;
    }

    .cart-buttons{
        display: flex;
        justify-content: space-between;
    }

    .btn-primary{
        width: 40%;
        background: $tan-crayola;
        font-weight: $fw-500;
        color: $white;
        padding: 13px 45px;
    }
}
