@media (min-width: 768px){

    /* REUSED STYLE */
    .container{
        max-width: 768px;
    }

    /*  HEADER */
    .header-action{
        gap: 30px;
    }

    .header-action-btn{
        font-size: 30px;
    }

    .header{
        & .input-wrapper{
            width: 240px;
        }
        & .input-field{
            font-size: $fs-5;
        }
    } 

    .header-action-btn .btn-badge{
        @include dimensions(26px, 26px);
        font-size: $fs-7;
        border-radius: 20px;
        bottom: -15.5px;
        right: -12px;
    }

    /* HERO */
    .hero-list{
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        & .colspan-2{
            grid-column: span 2;
        }
    }

    .hero-card{
        & .card-title{
            font-size: $fs-6;
        }
        & .card-text{
            font-size: $fs-7;
        }
    } 
    
    /* ABOUT */
    .about .section-text{
        margin-block-end: 75px;
    }

    /* PRODUCT */
    .product{
        & .title-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block-end: 80px;
        }
        & .section-title{
            font-size: $fs-4;
        }
    } 

    .filter-btn-list{
        margin: 0;
        font-size: $fs-6;
    }
    
    /* NEWSLETTER */
    .newsletter-card{
        padding: 50px 70px;
    }
}

