.newsletter{
    height: 270px;
    --section-padding: 20px;
    background-color: $cultured;
    & .card-form{
        position: relative;
    }
}

.newsletter-card{
    padding-inline: 15px;
    & .card-content{
        margin-block-end: 40px;
    }
    & .section-title{
        margin-block-end: 8px;
    }
    & .h2{
        font-size: $fs-2m;
    }
    & .email-field{
        background-color: $white;
        padding-block: 14px;
        padding-inline: 20px 50px;
        outline: 3px solid transparent;
        outline-offset: 0;
        transition: $transition-1;
        &:focus{
            outline-color: $black_25;
        }
    }  
}

.card-content .section-text{
    font-size: $fs-6;
    color: $smokey-black;
}

.email-field{
    font-size: $fs-6m;
}

.newsletter-btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-inline: 20px;
}