.product .section-title{
    text-align: center;
    font-size: $fs-3;
}

.filter-btn-list{
    margin-block: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: $fs-5;
}

.filter-btn-item{
    position: relative;
    display: flex;
    &:not(:last-child)::after{
        content: "|";
        margin-inline: 15px;
    }
}

.filter-btn{
    transition: $transition-1;
    outline: none;
}

.filter-btn.active{
    color: $tan-crayola;
}

.product-card{
    text-align: center;
    & .card-banner::before{
        inset: 0;
        background-color: $black_10;
        opacity: 0;
        transition: $transition-1;
    }
    & .card-action-list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        display: flex;
        gap: 15px;
        opacity: 0;
        transition: $transition-2;
    }
    & .badge-list{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    & .badge{
        @include dimensions(45px, 45px);
        @include textStyle($white, $fs-7, $fw-500);
        border-radius: 50%;
        line-height: 45px;
        margin-block-end: 10px;
    }
    & .card-badge{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $black;
        @include textStyle($white, $fs-5, $fw-500);
        padding-inline: 15px;
    }
    & .h3{
        font-size: $fs-5;
    }
    
    & .card-title{
        color: $smokey-black;
        font-weight: $fw-500;
        margin-block: 18px 5px;
        transition: $transition-1;
        &:is(:hover, :focus){
            color: $tan-crayola;
        }
    }
    & .card-price{
        display: flex;
        justify-content: center;
        gap: 15px;
        color: $granite-gray;
        font-size: $fs-6;
        & .del{
            color: $spanish-gray;
        }
    }
}

.product-card .card-banner:is(:hover, :focus-within)::before{
    opacity: 1;
}

.product-card .card-banner:is(:hover, :focus-within) .card-action-list{
    transform: translate(-50%, -50%);
    opacity: 1;
}

.product-card .card-bag-btn, .product-card .card-heart-btn, .product-card .card-action-btn{
    background-color: $white;
    font-size: 22px;
    padding: 12px;
    border-radius: 50%;
    transition: $transition-1;
    outline: none;
}

.product-card .card-bag-btn:is(:hover, :focus){
    color: $tan-crayola;
}

.product-card .card-action-btn:is(:hover, :focus){
    color: $tan-crayola;
}

.product-card .badge.orange{
    background-color: $red-orange-color-wheel;
}

.product-card .badge.cyan{
    background-color: $middle-blue-green;
}
