.container{
    padding-inline: 15px;
}

.social-wrapper{
    display: flex;
    align-items: center;
}

.social-list{
    display: flex;
    gap: 30px;
}

.social-link{
    transition: $transition-1;
}

.social-link:is(:hover, :focus){
    color: $tan-crayola;
}

.section{
    padding-block: $section-padding;
}

.img-holder{
    aspect-ratio: var(--width) / var(--height);
    background-color: $light-gray;
    overflow: hidden;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h2, .h3{
    color: $smokey-black;
    font-weight: $fw-500;
    line-height: 1.4;
}

.h2{
    font-size: $fs-2;
}

.h3{
    font-size: $fs-3;
}

.grid-list{
    display: grid;
    gap: 35px;
}

.has-before{
    position: relative;
    z-index: 1;
}

.has-before::before{
    content:"";
    position: absolute;
}