.sidebar{
    @include dimensions(100%, 100%);
    max-width: 425px;
    visibility: hidden; 
    position: fixed;
    top: 0;
    right: -425px;
    background-color: $white;
    padding: 40px;
    padding-block-end: 100px;
    overflow-y: auto;
    z-index: 5;
    transition: 0.25s $cubic-in;
    & .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-block: 40px 75px; 
    }
}

.sidebar.active{
    transform: translateX(-425px);
    visibility: visible;
    transition: 0.5s $cubic-out;
}

.nav-close-btn{
    font-size: 30px;
}

.sidebar-list-title, .contact-list-title, .social-list-title{
    @include textStyle($granite-gray, $fs-5, $fw-500);
}

.sidebar-list-title { 
    margin-block-end: 15px; 
}

.sidebar-link{
    color: $smokey-black;
    font-size: $fs-6;
    margin-block-start: 6px;
    transition: $transition-1;
    &:is(:hover, :focus){
        color: $tan-crayola;
    }
}

.navbar{
    margin-block-end: 60px;
}

.navbar-item:not(:last-child){
    margin-block-end: 15px;
}

.navbar-link{
    font-size: $fs-5;
    font-weight: $fw-500;
    transition: $transition-1;
    &:is(:hover, :focus){
        color: $granite-gray;
    }
}

.address, .contact-link{
    color: $smokey-black;
    font-size: $fs-6;
}

.sidebar .address{
    margin-block-start: 20px;
}

.social-wrapper{
    justify-content: space-between;
    margin-block-start: 50px;
}

.social-list-title{
    font-size: $fs-6;

}

.overlay{
    position: fixed;
    inset: 0;
    background-color: $black_70;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: $transition-1;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}